{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block styling %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock styling %}

{% block main_content %}


{% if items_list %}
  <div class="jumbotron jumbotron-fluid">
    <div>
      <center>
        <a href="http://dbhi.chop.edu"><img src="{% static "ch-istem.png" %}"></a>
      </center>
    </div>
      <div class="container">
        <h1 class="text-center" >iSTEM and OIVS Potluck</h1>
        <h2 class="text-center" >September 13th 12:30-1:30 pm</h2>
        <h2 class="text-center" >Wannamaker 100 Penn Square East Philadelphia, PA 19107</h2>
        <form method="POST" class="post-form">{% csrf_token %}
          <button type="submit" name="volunteer" class="save btn btn-default">RSVP</button>
        </form>
        <h3 class="text-center" >List of Attendees</h3>
          <ul class="list-group">
            {% for item in items_list %}
                <li class="list-group-item">{{ item.dish }} -- {{ item.name }}</li>
{% endfor %}
          </ul>
        <form method="POST" class="post-form">{% csrf_token %}
          <button type="submit" name="volunteer" class="save btn btn-default">RSVP</button>
        </form>
    </div>
  </div>
{% else %}
<div class="jumbotron jumbotron-fluid">
  <div>
    <center>
      <a href="http://dbhi.chop.edu"><img src="{% static "ch-istem.png" %}"></a>
    </center>
  </div>
    <div class="container">
      <h1 class="text-center" >iSTEM and OIVS Potluck</h1>
      <h2 class="text-center" >September 13th 12:30-1:30 pm</h2>
      <h2 class="text-center" >Wannamaker 100 Penn Square East Philadelphia, PA 19107</h2>
      <form method="POST" class="post-form">{% csrf_token %}
        <button type="submit" name="volunteer" class="save btn btn-default">Volunteer</button>
      </form>
    <p>No one have registered yet.</p>
{% endif %}

{% endblock %}
