{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block styling %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock styling %}

{% block main_content %}

{% if form %}
  <div class="jumbotron jumbotron-fluid">
    <div class="col-md-12">
        <div>
          <center>
            <a href="http://dbhi.chop.edu"><img src="{% static "ch-istem.png" %}"></a>
          </center>
        </div>
    </div>
      <div class="container">
        <h1 class="text-center" >RSVP</h1>
        <h2 class="text-center" >Do not feel obligated to bring a dish, just name dish as n/a if you do not want to bring a dish.</h2>
          <form action="volunteer" method="POST" class = "form-group">
              {% csrf_token %}
              {% for field in form %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }}: {{ field }}
            </div>
            {% endfor %}
              <button type="submit" name="submit_volunteer" class="save btn btn-default">Submit</button>
          </form>
        </div>
  </div>
{% endif %}

{% endblock %}
